* {
    font-family: 'Noto Sans KR', sans-serif;
}

section{
    color: #444649;
    
}
section:nth-child(odd){
    background: whitesmoke;
}
.container{
    display: flex;
    flex: 1fr;
    flex-direction: column;
    background: #f1ecec;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.row{
    display: flex;
    flex-direction: row;
}

.space{
    justify-content: space-between;
}
nav{
    position:initial;
    background-color: #1b242f;
    border-bottom: 3px solid #04c2c9;
    color: whitesmoke;
}
.nav_list{
    margin-right: 15px;
}
.logo{
    padding: 10px;
    margin-left: 25px;
}

.nav_menu{
    margin: 20px;
    text-transform: uppercase;
}

.home{
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: stretch;
}

.home .text{
    font-size: 2em;
    color: whitesmoke;
    
}

.highlight{
    color:lightskyblue;
}

.heading::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background: skyblue;
}

.item{
    /* border: 1px solid blue; */
    margin: 10px 30px;
    
}
.about article{
    margin-bottom: 30px;
}
.about .title{
    font-size: 20px;
}

.about .content{
    width: 850px;
}