* {
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
body{
    margin: 0;
}
section{
    color: #444649;
    min-height: 460px;
    
}
section:nth-child(odd){
    background: whitesmoke;
}
.container{
    display: flex;
    flex: 1fr;
    flex-direction: column;
    background: #f1ecec;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.row{
    display: flex;
    flex-direction: row;
}

nav{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #1b242f;
    border-bottom: 4px solid #04c2c9;
    color: whitesmoke;
}
.nav_list{
    position: absolute;
    top: 14px;
    right: 30px;
}

.nav_list div{
    float: left;
}
.logo{
    position: absolute;
    left: 50px;
    top: 6px;
}

.nav_menu{
    margin: 20px;
    text-transform: uppercase;
}

.home{
    background: url("../img/background/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: stretch;
}

.home .text{
    font-size: 2em;
    color: whitesmoke;
    
}

.highlight{
    color:lightskyblue;
}

.heading::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background: skyblue;
}

.item{
    /* border: 1px solid blue; */
    margin: 10px 30px;
    
}

.about{
    justify-content: space-between;
}

.about h1{
    flex:1;
}
.about article{
    flex:2;
    margin-bottom: 30px;
    padding-bottom: 60px;
    font-size: 1em;
}
.about .title{
    font-size: 20px;
}

.about .content{
    width: 850px;
}

.skill_img{
    width: 100px;
    height: 100px;
    border: 2px solid #04c2c9;
    border-radius: 1em;
    margin: 10px;
    box-shadow: 1px 1px 1px #04c2c9;
}

.skill_img:hover{
    box-shadow: 2px 2px 3px grey;
}

.skill_img img{
    width: 100px;
    height: 100px;
}

.skill .flex {
    margin-bottom: 30px;
}

.project_wrap{
    align-items: stretch;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1em;
    box-shadow: 2px 2px 2px #04c2c9;
    background-color: #f1ecec;
}

.project_wrap:hover{
    box-shadow: 3px 3px 3px #04c2c9;
}

.project .thumb{
    flex:1;
    border: 0.5px solid #04c2c9;
    border-radius: 1em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    
}

.project .content{
    flex: 3;
    align-items: stretch;
    margin-left: 15px;
    border:1px solid #04c2c9;
    border-radius: 1em;
    background-color:  whitesmoke;
}

.project .content div{
    padding-left: 10px;
}

.project .project_wrap:nth-of-type(3){
    margin-bottom: 70px;
}

.contact{
    min-height: 360px;
}

.contact .github_addr{
    background-size: cover;
    width: 100px;
    height: 100px;
}